@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
html {
  overflow-y: scroll;
}
a:visited {
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
.textOver:hover{
	background-size: 110%;
}

body {
	font-family: 'Lato', sans-serif;
	color: #353535;
}
.jsutify{
	text-align: justify;
}
.center{
	text-align: center;
}
.redtext{
	color: #D24D57;
}
.heading1{
	font-size: 60px;
	font-weight: 600;
}
.logosize{
	width: 50px;
	height: 50px;
	z-index: -1;
}
.logosize:hover{
	fill: #D24D57;
}
p{
	font-size: 16px;
	text-align: justify;
}

/* Global Button Styles */
a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	margin: 30px auto 0;
	padding: 14px 15px;
	color: #353535;
	font-size:14px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	border-radius: 0;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
a.animated-button:link:after, a.animated-button:visited:after {
	content: "";
	position: absolute;
	height: 0%;
	left: 50%;
	top: 50%;
	width: 150%;
	z-index: -1;
	-webkit-transition: all 0.75s ease 0s;
	-moz-transition: all 0.75s ease 0s;
	-o-transition: all 0.75s ease 0s;
	transition: all 0.75s ease 0s;
}
a.animated-button:link:hover, a.animated-button:visited:hover {
	color: #353535;
	text-shadow: none;
}
a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
	height: 550%;
}

a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	margin: 30px auto 0;
	padding: 20px 15px;
	color: #353535;
	font-size:14px;
	border-radius: 0;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

/* Victoria Buttons */

a.animated-button.bio, a.animated-button.projects, a.animated-button.contact {
	border: 2px solid #D24D57;
	/*border: 2px solid white;*/
	/*border-radius: 100px;*/
}
a.animated-button.bio:after {
	background: #D24D57;
	-moz-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
	transform: translateX(-50%) translateY(-50%) rotate(-25deg);
}

a.animated-button.projects:after {
	background: #D24D57;
	-moz-transform: translateX(-50%) translateY(-50%) rotate(25deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(25deg);
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(25deg);
	transform: translateX(-50%) translateY(-50%) rotate(25deg);
}

a.animated-button.contact:after {
	background: #D24D57;
	/*opacity: .5;*/
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
.gaia{
    color: #572C7C;
}
.melonomics{
    color: #FF7D11;
}
.prgdb{
    color: #3c753d;
}

footer div {
	margin: 0 auto;
	display: inline-block;
}

footer {
	display:flex;
	padding: 10%;
}
p{
	font-size: 20px;
}
.section{
    display:flex;
    align-items:center;
    justify-content:space-around;
}
.space{
    padding-left:2em;
}
.skype{
    width:200px;
    height:100px;
}



#wrap{
	width:600px;
	margin:0 auto;
	text-align:left;
	margin-top:8px;
	padding:5px;
	background:#fff;
    font-family:AvenirLTStd, Arial, Helvetica, sans-serif;
	font-size:13px;    
    line-height:16px;
}
#wrap .cont_details fieldset,.cont_order fieldset{
	margin:10px;
	padding:20px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}
#wrap legend{
	font-size:16px;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#000;
	font-weight:bold;
	font-style:italic;
    padding-bottom:10px;
}
#wrap .cont_details input{
	margin-bottom:10px;
	color:#000;
}
#wrap .input1:hover,.input1:active{
	
}
#wrap label{
	display:block;
	font-size:12px;
	color:#000;
    font-weight:bold;
}
#wrap label.inlinelabel
{
    display:inline;
}
#wrap .cont_order input{
	margin-bottom:5px;
}
#wrap .cont_order p{
	padding-top:5px;
}

#wrap input[type="radio"]
{
margin-top:8px;
margin-bottom:8px;
}

#wrap input[type="text"]:hover,
#wrap input[type="text"]:active {
background-color: #FAF398;
}

#wrap input#submit
{
margin:10px;
padding-left:20px;
padding-right:20px;
padding-top:10px;
padding-bottom:10px;
}

#wrap div#totalPrice
{
    padding:10px;
    font-weight:bold;
    background-color:#ff0;
}

#wrap label.radiolabel
{
font-weight:normal;
 display:inline;
}


$primary: #4F2EDC
$primary-light: #947ADA
$gray: #9A9999
  
.toggle
{
  position: relative
  display: block
  width: 40px
  height: 20px
  cursor: pointer
  -webkit-tap-highlight-color: transparent
  transform: translate3d(0,0,0)
  &:before
    content: ""
    position: relative
    top: 3px
    left: 3px
    width: 34px
    height: 14px
    display: block
    background: $gray
    border-radius: 8px
    transition: background .2s ease
 }
  span
   {
    position: absolute
    top: 0
    left: 0
    width: 20px
    height: 20px
    display: block
    background: white
    border-radius: 10px
    box-shadow: 0 3px 8px rgba($gray,.5)
    transition: all .2s ease
    &:before
      content: ""
      position: absolute
      display: block
      margin: -18px
      width: 56px
      height: 56px
      background: rgba($primary,.5)
      border-radius: 50%
      transform: scale(0)
      opacity: 1
      pointer-events: none
}
#cbx:checked + .toggle
 {
  &:before
    background: $primary-light
  span
    background: $primary
    transform: translateX(20px)
    transition: all .2s cubic-bezier(.8,.4,.3,1.25), background .15s ease
    box-shadow: 0 3px 8px rgba($primary,.2)
    &:before
      transform: scale(1)
      opacity: 0
      transition: all .4s ease
}
//centering toggle
.center
{
  position: absolute
  top: calc(50% - 10px)
  left: calc(50% - 20px)
  }



